@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-big {
  position: relative;
  height: 150px;
  width: 150px;
}

.loader-big::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 12px solid white;
  border-top-color: black;
  border-radius: 50%;
  animation: spinLoader 0.7s infinite;
}

.loader {
  position: relative;
  height: 50px;
  width: 50px;
}

.loader::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 8px solid white;
  border-top-color: black;
  border-radius: 50%;
  animation: spinLoader 0.7s infinite;
}

@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.colors-pa {
  color: hsl(209, 23%, 22%);
  color: hsl(207, 26%, 17%);
  color: hsl(200, 15%, 8%);
  color: hsl(0, 0%, 52%);
  color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 100%);
}

.filter-drop {
  transition: 0.3s;
  transform: scaleY(1);
  transform-origin: top;
}

.filter-drop.active {
  height: 0%;
  opacity: 0;
  pointer-events: none;
  transform: scaleY(0);
}

.fa-angle-down {
  transform: rotate(0deg);
  transition: 1s;
}

.fa-angle-down.active {
  transform: rotate(180deg);
}

.countries-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.main-details-container span {
  color: white;
}

.card-details-container span {
  color: white;
}

.earth-element.active {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.preloader-container.active {
  z-index: 10;
  padding: 0;
}

body{
  overflow: hidden;
}

body.active {
  overflow: auto;
}
